h1{
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    margin-left: 10%;
    margin-bottom: 3%;
    color: #2A2C24;
}

nav ul{
    display: flex;
    margin: 3%;
    justify-content: space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #2A2C24;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 15%;
}

.profile-photo{
   flex: 1 2 0;
}

.aboutme {
    margin-bottom: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    display: flex;
    margin: 5% 0 0 50%;
    justify-content: flex-end;
}